[run]
source = forex
branch = 1
omit =
    forex/views.py
    forex/urls.py
    forex/migrations/*
    forex/tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
